---
layout: default
---
<div id="header-octicon">
  <a href="https://axivo.com/" style="display: inline-block; margin-right: 15px; text-decoration: none;">
    <svg width="32" height="32" viewBox="0 0 16 16" aria-hidden="true">
      <path fill-rule="evenodd" d="M16 9l-3-3V2h-2v2L8 1 0 9h2l1 5c0 .55.45 1 1 1h8c.55 0 1-.45 1-1l1-5h2zm-4 5H9v-4H7v4H4L2.81 7.69 8 2.5l5.19 5.19L12 14z"></path>
    </svg>
  </a>
  <a href="{{ RepoURL }}" style="display: inline-block; text-decoration: none;">
    <svg width="32" height="32" viewBox="0 0 16 16" aria-hidden="true">
      <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
    </svg>
  </a>
</div>
<div id="logo-services">
  <img width="350" height="350" src="{{ RepoRawURL }}/{{ Branch }}/docs/images/logo-services.svg" alt="AXIVO Charts" />
</div>

[![Helm](https://img.shields.io/badge/helm-v3-blue)](https://helm.sh)
[![Kubernetes](https://img.shields.io/badge/kubernetes-%23326ce5.svg?style=flat&logo=kubernetes&logoColor=white)](https://kubernetes.io)
[![License](https://img.shields.io/github/license/axivo/charts)]({{ RepoURL }}/blob/main/LICENSE)

### Introduction

This Helm repository contains charts designed to deploy applications in Kubernetes clusters, using ArgoCD. The charts follow best practices for Kubernetes deployments, with proper documentation and schema validation.

Our charts are built with the following principles in mind:

- **Security**: Hardened configurations and security best practices
- **Consistency**: Standardized approach across all charts
- **Simplicity**: Easy to understand and configure
- **Maintainability**: Designed for long-term support and updates

### Documentation

For detailed documentation about each chart, visit our [GitHub repository]({{ RepoURL }}).

Each chart includes:

- Comprehensive README with usage examples
- Values documentation with explanations for each parameter
- Default configurations suitable for most environments
- Installation and upgrade guides

You can also find configuration examples for different scenarios and environments in the chart directories.

### Available Charts

See below the list of available Helm charts.

| Chart | Version | Type | Description |
|-------|---------|------|-------------|
{{#each Charts}}
| [{{ Name }}]({{ ../RepoURL }}/tree/{{ ../Branch }}/{{ Type }}/{{ Name }}) | {{ Version }} | {{ Type }} | {{ Description }} |
{{/each}}
