<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url={{ RepoURL }}/{{ Type }}/{{ Name }}/index.yaml">
  <title>{{ Type }} | {{ Name }}</title>
</head>

<body>
  <p><a href="{{ RepoURL }}/{{ Type }}/{{ Name }}/index.yaml">Redirecting...</a></p>
</body>

</html>
